<div class="container">
  <app-page-container heading="About Us"  description="Who we are, what we do and getting in touch">

  </app-page-container>
  <!--<div class="row">-->
    <!--<section class="section">-->

      <!--<h4>Keep in touch using social media-->
        <!--<span>-->
    <!--<a target="_blank" href="https://en-gb.facebook.com/" type="button" class="btn-floating btn-small btn-fb"><i-->
      <!--class="fa fa-facebook"></i></a>-->

       <!--<a target="_blank" href="https://twitter.com/JohnMac" class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>-->
       <!--</span>-->
      <!--</h4>-->


    <!--</section>-->

  <!--</div>-->
  <div class="row">
    <div class="col-lg-6">
      <h4>My First Google Map</h4>

      <div id="map" style="width:400px;height:400px;">My map will go here</div>
    </div>
    <div class="col-lg-6">
      <div class="card-block">
        <!--Title-->
        <h4 class="card-title">Keeping In Touch</h4>
        <!--Text-->
        <p class="card-text">Follow us on social media.  We monitor it routinely and you can stay informed with the very latest news</p>
        <a target="_blank" href="https://en-gb.facebook.com/" class="btn fa fa-facebook btn-info"></a>
        <a target="_blank" href="https://twitter.com" class="btn fa fa-twitter btn-info"></a>

      </div>
      <!--/.Card content-->
    </div>
  </div>


</div>


