<nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <strong>Summer Academy</strong>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav1">
      <ul class="navbar-nav mr-auto">

        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/home" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/prices">Prices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/schedule">Schedule</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>
      </ul>
      <!--<form class="form-inline waves-effect waves-light">-->
      <!--<input class="form-control" type="text" placeholder="Search">-->
      <!--</form>-->
    </div>
  </div>
</nav>
<app-maincarousel></app-maincarousel>

