
<div class="container">
  <app-page-container heading="Pricing"  description="A range of pricing options to be  completely flexibilty over when the attend and save money whilst you do">

  </app-page-container>
  <div class="row">
    <section class="section">

  <!--Section heading-->


  <!--First row-->
  <div class="row">

    <!--First column-->
    <div class="col-lg-4 col-md-12 mb-r">
      <!--Card-->
      <app-price title="Daily" cost="£7" text="Pick and choose the days you attend"></app-price>

      <!--/.Card-->
    </div>
    <!--/First column-->

    <!--Second column-->
    <div class="col-lg-4 col-md-12 mb-r">
      <app-price title="Weekly" cost="£28" text="Weekly card,  our best deal" colour="teal"></app-price>
      <!--Card-->

    </div>
    <!--/Second column-->
    <div class="col-lg-4 col-md-12 mb-r">
      <app-price title="Three Day Carnet" cost="£18" text="Chose any 3 days in a week"></app-price>
    </div>

    </div>
  <!--/First row-->

</section>
<!--/Section: Pricing v.3-->
  </div>
</div>
