<div class="container">
  <app-page-container heading="Academy Schedule"  description="This is the schedule of academy courses coming up this summer">

  </app-page-container>

<!--<ul class="list-group">-->
  <!--<li class="list-group-item">Deighton - Week Commencing 24 July</li>-->
  <!--<li class="list-group-item">Deighton - Week Commencing 24 July</li>-->

<!--</ul>-->

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Venue</th>
      <th>Week Commencing</th>
      <th>Info</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Deighton Sports Centre</td>
      <td>21 July 2017</td>
      <td>Booking up fast</td>
    </tr>
    <tr>
      <td>Deighton Sports Centre</td>
      <td>28 July 2017</td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
